:root[data-theme="light"] {
    .z-code {
        color: #24292e;
        background-color: #ffffff;
    }
    .z-hl {
        background-color: #f6f8fa;
    }
    .giallo-ln {
        color: #1b1f234d;
    }
    .z-comment {
        color: #6a737d;
    }
    .z-constant {
        color: #005cc5;
    }
    .z-entity {
        color: #6f42c1;
    }
    .z-keyword {
        color: #d73a49;
    }
    .z-storage {
        color: #d73a49;
    }
    .z-string {
        color: #032f62;
    }
    .z-support {
        color: #005cc5;
    }
    .z-variable {
        color: #e36209;
    }
    .z-carriage-return {
        color: #fafbfc;
        background-color: #d73a49;
        font-style: italic;
        text-decoration: underline;
    }
    .z-variable {
        color: #005cc5;
    }
    .z-source {
        color: #032f62;
    }
    .z-string.z-comment {
        color: #6a737d;
    }
    .z-variable.z-language {
        color: #005cc5;
    }
    .z-entity.z-name {
        color: #6f42c1;
    }
    .z-storage.z-type {
        color: #d73a49;
    }
    .z-meta.z-property-name {
        color: #005cc5;
    }
    .z-variable.z-other {
        color: #24292e;
    }
    .z-invalid.z-broken {
        color: #b31d28;
        font-style: italic;
    }
    .z-invalid.z-deprecated {
        color: #b31d28;
        font-style: italic;
    }
    .z-invalid.z-illegal {
        color: #b31d28;
        font-style: italic;
    }
    .z-invalid.z-unimplemented {
        color: #b31d28;
        font-style: italic;
    }
    .z-message.z-error {
        color: #b31d28;
    }
    .z-source.z-regexp {
        color: #032f62;
    }
    .z-string.z-regexp {
        color: #032f62;
    }
    .z-support.z-constant {
        color: #005cc5;
    }
    .z-support.z-variable {
        color: #005cc5;
    }
    .z-meta.z-module-reference {
        color: #005cc5;
    }
    .z-markup.z-heading {
        color: #005cc5;
        font-weight: bold;
    }
    .z-markup.z-quote {
        color: #22863a;
    }
    .z-markup.z-italic {
        color: #24292e;
        font-style: italic;
    }
    .z-markup.z-bold {
        color: #24292e;
        font-weight: bold;
    }
    .z-markup.z-underline {
        text-decoration: underline;
    }
    .z-markup.z-strikethrough {
        text-decoration: line-through;
    }
    .z-markup.z-deleted {
        color: #b31d28;
        background-color: #ffeef0;
    }
    .z-markup.z-inserted {
        color: #22863a;
        background-color: #f0fff4;
    }
    .z-markup.z-changed {
        color: #e36209;
        background-color: #ffebda;
    }
    .z-markup.z-ignored {
        color: #f6f8fa;
        background-color: #005cc5;
    }
    .z-markup.z-untracked {
        color: #f6f8fa;
        background-color: #005cc5;
    }
    .z-meta.z-separator {
        color: #005cc5;
        font-weight: bold;
    }
    .z-meta.z-output {
        color: #005cc5;
    }
    .z-brackethighlighter.z-tag {
        color: #586069;
    }
    .z-brackethighlighter.z-curly {
        color: #586069;
    }
    .z-brackethighlighter.z-round {
        color: #586069;
    }
    .z-brackethighlighter.z-square {
        color: #586069;
    }
    .z-brackethighlighter.z-angle {
        color: #586069;
    }
    .z-brackethighlighter.z-quote {
        color: #586069;
    }
    .z-brackethighlighter.z-unmatched {
        color: #b31d28;
    }
    .z-entity.z-name {
        color: #005cc5;
        font-weight: bold;
    }
    .z-punctuation.z-definition.z-comment {
        color: #6a737d;
    }
    .z-entity.z-name.z-constant {
        color: #005cc5;
    }
    .z-variable.z-other.z-constant {
        color: #005cc5;
    }
    .z-variable.z-other.z-enummember {
        color: #005cc5;
    }
    .z-variable.z-parameter.z-function {
        color: #24292e;
    }
    .z-entity.z-name.z-tag {
        color: #22863a;
    }
    .z-storage.z-modifier.z-package {
        color: #24292e;
    }
    .z-storage.z-modifier.z-import {
        color: #24292e;
    }
    .z-storage.z-type.z-java {
        color: #24292e;
    }
    .z-punctuation.z-definition.z-string {
        color: #032f62;
    }
    .z-string.z-regexp.z-character-class {
        color: #032f62;
    }
    .z-markup.z-inline.z-raw {
        color: #005cc5;
    }
    .z-punctuation.z-definition.z-deleted {
        color: #b31d28;
        background-color: #ffeef0;
    }
    .z-punctuation.z-definition.z-inserted {
        color: #22863a;
        background-color: #f0fff4;
    }
    .z-punctuation.z-definition.z-changed {
        color: #e36209;
        background-color: #ffebda;
    }
    .z-meta.z-diff.z-range {
        color: #6f42c1;
        font-weight: bold;
    }
    .z-meta.z-diff.z-header {
        color: #005cc5;
    }
    .z-string.z-other.z-link {
        color: #032f62;
        text-decoration: underline;
    }
    .z-constant.z-character.z-escape {
        color: #032f62;
    }
    .z-source.z-ruby.z-embedded {
        color: #032f62;
    }
    .z-string.z-regexp.z-arbitrary-repitition {
        color: #032f62;
    }
    .z-constant.z-character.z-escape {
        color: #22863a;
        font-weight: bold;
    }
    .z-meta.z-diff.z-header.z-from-file {
        color: #b31d28;
        background-color: #ffeef0;
    }
    .z-meta.z-diff.z-header.z-to-file {
        color: #22863a;
        background-color: #f0fff4;
    }
    .z-constant.z-other.z-reference.z-link {
        color: #032f62;
        text-decoration: underline;
    }
    .z-punctuation.z-definition.z-list.z-begin.z-markdown {
        color: #e36209;
    }
}

:root[data-theme="dark"] {
    .z-code {
        color: #e1e4e8;
        background-color: #24292e;
    }
    .z-hl {
        background-color: #2b3036;
    }
    .giallo-ln {
        color: #444d56;
    }
    .z-comment {
        color: #6a737d;
    }
    .z-constant {
        color: #79b8ff;
    }
    .z-entity {
        color: #b392f0;
    }
    .z-keyword {
        color: #f97583;
    }
    .z-storage {
        color: #f97583;
    }
    .z-string {
        color: #9ecbff;
    }
    .z-support {
        color: #79b8ff;
    }
    .z-variable {
        color: #ffab70;
    }
    .z-carriage-return {
        color: #24292e;
        background-color: #f97583;
        font-style: italic;
        text-decoration: underline;
    }
    .z-variable {
        color: #79b8ff;
    }
    .z-source {
        color: #9ecbff;
    }
    .z-string.z-comment {
        color: #6a737d;
    }
    .z-variable.z-language {
        color: #79b8ff;
    }
    .z-entity.z-name {
        color: #b392f0;
    }
    .z-storage.z-type {
        color: #f97583;
    }
    .z-meta.z-property-name {
        color: #79b8ff;
    }
    .z-variable.z-other {
        color: #e1e4e8;
    }
    .z-invalid.z-broken {
        color: #fdaeb7;
        font-style: italic;
    }
    .z-invalid.z-deprecated {
        color: #fdaeb7;
        font-style: italic;
    }
    .z-invalid.z-illegal {
        color: #fdaeb7;
        font-style: italic;
    }
    .z-invalid.z-unimplemented {
        color: #fdaeb7;
        font-style: italic;
    }
    .z-message.z-error {
        color: #fdaeb7;
    }
    .z-source.z-regexp {
        color: #dbedff;
    }
    .z-string.z-regexp {
        color: #dbedff;
    }
    .z-support.z-constant {
        color: #79b8ff;
    }
    .z-support.z-variable {
        color: #79b8ff;
    }
    .z-meta.z-module-reference {
        color: #79b8ff;
    }
    .z-markup.z-heading {
        color: #79b8ff;
        font-weight: bold;
    }
    .z-markup.z-quote {
        color: #85e89d;
    }
    .z-markup.z-italic {
        color: #e1e4e8;
        font-style: italic;
    }
    .z-markup.z-bold {
        color: #e1e4e8;
        font-weight: bold;
    }
    .z-markup.z-underline {
        text-decoration: underline;
    }
    .z-markup.z-strikethrough {
        text-decoration: line-through;
    }
    .z-markup.z-deleted {
        color: #fdaeb7;
        background-color: #86181d;
    }
    .z-markup.z-inserted {
        color: #85e89d;
        background-color: #144620;
    }
    .z-markup.z-changed {
        color: #ffab70;
        background-color: #c24e00;
    }
    .z-markup.z-ignored {
        color: #2f363d;
        background-color: #79b8ff;
    }
    .z-markup.z-untracked {
        color: #2f363d;
        background-color: #79b8ff;
    }
    .z-meta.z-separator {
        color: #79b8ff;
        font-weight: bold;
    }
    .z-meta.z-output {
        color: #79b8ff;
    }
    .z-brackethighlighter.z-tag {
        color: #d1d5da;
    }
    .z-brackethighlighter.z-curly {
        color: #d1d5da;
    }
    .z-brackethighlighter.z-round {
        color: #d1d5da;
    }
    .z-brackethighlighter.z-square {
        color: #d1d5da;
    }
    .z-brackethighlighter.z-angle {
        color: #d1d5da;
    }
    .z-brackethighlighter.z-quote {
        color: #d1d5da;
    }
    .z-brackethighlighter.z-unmatched {
        color: #fdaeb7;
    }
    .z-entity.z-name {
        color: #79b8ff;
        font-weight: bold;
    }
    .z-punctuation.z-definition.z-comment {
        color: #6a737d;
    }
    .z-entity.z-name.z-constant {
        color: #79b8ff;
    }
    .z-variable.z-other.z-constant {
        color: #79b8ff;
    }
    .z-variable.z-other.z-enummember {
        color: #79b8ff;
    }
    .z-variable.z-parameter.z-function {
        color: #e1e4e8;
    }
    .z-entity.z-name.z-tag {
        color: #85e89d;
    }
    .z-storage.z-modifier.z-package {
        color: #e1e4e8;
    }
    .z-storage.z-modifier.z-import {
        color: #e1e4e8;
    }
    .z-storage.z-type.z-java {
        color: #e1e4e8;
    }
    .z-punctuation.z-definition.z-string {
        color: #9ecbff;
    }
    .z-string.z-regexp.z-character-class {
        color: #dbedff;
    }
    .z-markup.z-inline.z-raw {
        color: #79b8ff;
    }
    .z-punctuation.z-definition.z-deleted {
        color: #fdaeb7;
        background-color: #86181d;
    }
    .z-punctuation.z-definition.z-inserted {
        color: #85e89d;
        background-color: #144620;
    }
    .z-punctuation.z-definition.z-changed {
        color: #ffab70;
        background-color: #c24e00;
    }
    .z-meta.z-diff.z-range {
        color: #b392f0;
        font-weight: bold;
    }
    .z-meta.z-diff.z-header {
        color: #79b8ff;
    }
    .z-string.z-other.z-link {
        color: #dbedff;
        text-decoration: underline;
    }
    .z-constant.z-character.z-escape {
        color: #dbedff;
    }
    .z-source.z-ruby.z-embedded {
        color: #dbedff;
    }
    .z-string.z-regexp.z-arbitrary-repitition {
        color: #dbedff;
    }
    .z-constant.z-character.z-escape {
        color: #85e89d;
        font-weight: bold;
    }
    .z-meta.z-diff.z-header.z-from-file {
        color: #fdaeb7;
        background-color: #86181d;
    }
    .z-meta.z-diff.z-header.z-to-file {
        color: #85e89d;
        background-color: #144620;
    }
    .z-constant.z-other.z-reference.z-link {
        color: #dbedff;
        text-decoration: underline;
    }
    .z-punctuation.z-definition.z-list.z-begin.z-markdown {
        color: #ffab70;
    }
}
