{% extends "base.html" %} {% block content %}
<h1 class="title">{{ page.title }}</h1>

<section>
  <h2>Location</h2>
  <p>I'm currently based in Toulouse, France.</p>

  <h2>Contact</h2>
  <p>
    I'm currently working at Alten as an application engineer. I'm looking for
    new opportunities.
  </p>
  <a href="/">Resume EN</a>
  <a href="/">Resume FR</a>
  <p>
    You can reach me on LinkedIn or send me an e-mail at
    <a href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a>.
  </p>
</section>
{{ page.content | safe }} {% endblock content %}
