{% extends "base.html" %} {% block content %}
<h1 class="title">{{ section.title }}</h1>
<p>{{ section.description }}</p>
<div class="post-list">
  {% for year, posts in section.pages | group_by(attribute="year") %}
  <h2>{{ year }}</h2>

  <ul>
    {% for post in posts %}
    <li>
      <div class="post-info">
        <time datetime="{{ post.date }}">{{ post.date | date(format="%b %e") }}</time>
        {% if post.updated %}
        <span> - </span>
        <time class="post-date" datetime="{{ post.updated }}">Updated on {{ post.updated | date(format="%b %e")
          }}</time>
        {% endif %}
      </div>
      <div>
        <a href="{{ post.permalink }}">{{ post.title }}</a>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
{% endblock content %}