@import "$lib/styles/themes.css";
@import "$lib/styles/fonts.css";

body {
    font-family: var(--body-font);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2 {
    color: var(--heading-color);
}

p {
    color: var(--text-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}